.title {
  display: block;
  text-align: center;
  font-family: "Stika";
  font-size: 22px;
  color: black;
  letter-spacing: 0.1em;
  line-height: 29px;
  text-transform: uppercase;
  margin-top: 48px;
}

.welcome-text {
  font-family: "Century Gothic";
  font-size: 18px;
  font-weight: bold;
  color: #f27648;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 62px;
  text-transform: uppercase;
  margin-top: 16px;
}

.stnl-signature {
  position: relative;
}

.team-text {
  position: absolute;
  font-family: "adobe-handwriting-ernie", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  color: var(--ion-color-stnl-gray-team);
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 25px;
}

.close-icon {
  position: absolute;
  right: 16px;
  top: 16px;
  font-size: 24px;
}