<ion-header>

  <ion-toolbar class="header">
    <ion-title class="stnl-logo">SENTINELLE</ion-title>
  </ion-toolbar>

  <ion-grid class="submenu">
    <ion-row class="submenu-row">
      <ion-col class="submenu-col submenu-col-active" [class.submenu-col-active]="selectedIndex===0"
        (click)="changeIndex(0)">
        <span class="submenu-label">Teaser</span>
      </ion-col>
      <ion-col class="submenu-col" [class.submenu-col-active]="selectedIndex===1" (click)="changeIndex(1)">
        <span class="submenu-label">Contact</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-header>

<ion-content class="content-wrapper">
  <div>
    <div class="motif-space">
      <img src="../../assets/imgs/motif-header.png" alt="">
    </div>

    <!-- Teaser -->
    <div *ngIf="selectedIndex===0">

      <div class="responsive-video">
        <iframe src="https://www.youtube-nocookie.com/embed/AdWF6ft6S_g" class="teaser-frame"
          title="YouTube video player" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>

      <div class="ion-padding">
        <br>
        <br>
        <div class="form-wrapper" class="ion-padding">
          <form [formGroup]="joinForm">

            <!-- Username -->
            <input type="text" placeholder="FULL NAME" class="input-custom" formControlName="name">
            <div *ngIf="checkValidity('name')" class="alert">
              <div *ngIf="joinForm.controls['name'].errors.required">
                <small class="alert-text">Name required</small>
              </div>
            </div>

            <!-- Email uses trim directive -->
            <input type="text" placeholder="EMAIL" class="input-custom email" formControlName="email" trim />
            <div *ngIf="checkValidity('email')" class="alert">
                <small class="alert-text">Invalid email format (eg: john@email.com)</small>
            </div>

            <button class="btn-custom btn-block" [disabled]="!joinForm.valid" (click)="sendForm()">
              Join our community
            </button>
          </form>
        </div>

        <!-- Social icons -->
        <div class="icons-container ion-text-center">
          <span class="getintouch">Get in touch :</span>
          <app-social-icons orientation="horizontal"></app-social-icons>
        </div>
      </div>

    </div>

    <!-- Contact form -->
    <div *ngIf="selectedIndex===1" class="ion-padding">
      <app-contact-form></app-contact-form>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
  </div>
</ion-content>