.content-h {
  background-color: var(--ion-color-stnl-black);
  color: white;
}

.content-v {
  max-width: 90px;
  padding-top: 15px;
  padding-bottom: 5px;
  text-align: center;
  background-color: transparent;
  color: white;
}

.content-v .icon-link {
  display: block;
  margin-bottom: 10px;
}

.icon-link {
  color: white;
  text-decoration: none;
}

.icon-link:hover {
  color: var(--ion-color-stnl-orange);
}

.social-icon { 
  font-size: 30px;
}
