
<!-- Horizontal orientation -->

<div class="content-h" *ngIf="orientation === 'horizontal'">
  <a href="https://www.instagram.com/sentinellemag/" class="icon-link" target="_blank">
      <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
  </a>&nbsp;&nbsp;
  <a href="https://www.facebook.com/Sentinelle-Magazine-103995051632937" class="icon-link" target="_blank">
      <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
  </a>&nbsp;&nbsp;
  <a href="#" class="icon-link" target="_blank">
      <ion-icon name="logo-youtube" class="social-icon"></ion-icon>
  </a>&nbsp;&nbsp;
  <a href="https://twitter.com/Sentinellemag" class="icon-link" target="_blank">
      <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
  </a>&nbsp;&nbsp;
</div>

<!-- Vertical orientation -->

<div class="content-v" *ngIf="orientation === 'vertical'">
  <a href="https://www.instagram.com/sentinellemag/" class="icon-link" target="_blank">
      <ion-icon name="logo-instagram" class="social-icon"></ion-icon>
  </a>
  <a href="https://www.facebook.com/Sentinelle-Magazine-103995051632937" class="icon-link" target="_blank">
      <ion-icon name="logo-facebook" class="social-icon"></ion-icon>
  </a>
  <a href="#" class="icon-link" target="_blank">
      <ion-icon name="logo-youtube" class="social-icon"></ion-icon>
  </a>
  <a href="https://twitter.com/Sentinellemag" class="icon-link" target="_blank">
      <ion-icon name="logo-twitter" class="social-icon"></ion-icon>
  </a>
</div>