/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'Didonesque';
    src: url('assets/fonts/PauloGoodeDidonesqueDisplay.otf');
}


@font-face {font-family: "Sitka Banner";
    src: url("https://db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.eot"); /* IE9*/
    src: url("https://db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.eot?#iefix") format("embedded-opentype"), /*
    IE6-IE8 */
    url("https://db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.woff2") format("woff2"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.woff") format("woff"), /* chrome firefox */
    url("https://db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.ttf") format("truetype"), /* chrome firefox opera
    Safari, Android, iOS 4.2+*/
    url("https://db.onlinewebfonts.com/t/7a8bc7c29b5bcadb9510cca51210ac46.svg#Sitka Banner") format("svg"); /* iOS 4.1- */
}

.landing-modal .modal-wrapper {
    height: 40%;
    width: 90%;
    top: 60%;
    display: absolute;
    display: block;
}
